{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cupiditate dolores inventore laborum minus, nostrum
    possimus quaerat sunt temporibus vitae voluptas voluptate, voluptates voluptatum. Blanditiis dicta dolorem dolorum
    ea, est et exercitationem numquam odit optio reiciendis tempora totam, ullam voluptate.</p>
<p>Ab culpa delectus
    doloremque, eius eligendi enim iste porro quod reiciendis sunt. Ab cum dolor dolorem eius exercitationem illo
    inventore magnam modi molestias mollitia nihil nulla, omnis provident quod ratione rem sequi similique tenetur ut
    veritatis voluptas, voluptates voluptatibus? Quo!</p>
{% endblock %}
